.new-scret-btn {
  margin-bottom: 10px;
}

#new-secret-form {
  height: 300px;
  margin-top: -150px;

  input[type=text], textarea {
    width: 97%;
  }
  textarea {
    height: 4em;
  }
}

@media (max-width: 767px) {
  #new-secret-form {
    margin-top: 0;
  }
}

ul.letter-stream {
  margin: 0;
  border: 1px solid #aaa;

  @include border-radius(5px);
  li {
    padding: 5px 10px;
    border-bottom: dashed 1px #aaa;

    &:last-child {
      border: none;
    }

    &:hover {
      background-color: #E7EFF8;
    }
    @include transition (all 0.5s ease-in-out);

    .tags {
      color: #999;
    }
    .time {
      color: #999;
      float: right;
      font-size: 0.9em;
    }

    .menu {
      overflow: hidden;
      span.vote, a {
        float:right;
      }
      span.vote {
        margin-right: 10px;
        margin-top: 5px;
        .vote-count {
          margin-left: 5px;
        }
      }
      a {
        opacity: 0;
        @include transition (opacity 0.5s ease-in-out);
      }
    }

    &:hover .menu a {
      opacity: 100;
    }

  }
}

#message-box {
  position: fixed;
  width: 94%;
  z-index: 1000;
}

#box {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 751px;
  height: 581px;
  margin: -290px 0 0 -375px;
  background: image-url("pinlight.jpeg") no-repeat right;
  background-position: 50px 30px;
  background-clip: none;
  text-align: center;
}

#box-body {
  margin-top: 120px;
  padding: 0;
  textarea {
    width: 360px;
    height: 180px;
    background-opacity: 0.0;
    border-style: none;
    border-radius: 0;
    resize: none;
    @include box-shadow(5px 7px 4px 0px rgba(0, 0, 0, 0.5));
  }
  input[type="text"] {
    width: 360px;
    margin-top: -10px;
    border: 0px;
    border-top: 1px solid #aaa;
    border-radius: 0;
    resize: none;
    @include box-shadow(5px 7px 4px 0px rgba(0, 0, 0, 0.5));
  }
}

#box-body-label {
  font-size: 1.2em;
  margin-bottom: 15px;
}

#box-body-bottom-label {
  font-size: 1.2em;
  margin-top: 10px;
}

#facebook_share {
  margin-left: 30px;
}


.letter-show {
  font-size: 1.2em;
  margin-top: 2em;
  .tags {
    color: #999;
  }
  .time {
    color: #999;
    float: right;
    font-size: 0.9em;
  }

  .menu {
    overflow: hidden;
    span.vote, a {
      float:right;
    }
    span.vote {
      margin-right: 10px;
      margin-top: 5px;
      .vote-count {
        margin-left: 5px;
      }
    }
    a {
      @include transition (opacity 0.5s ease-in-out);
    }
  }

}