.new-scret-btn {
  margin: auto;
  text-align: center;
  border-radius: 10px;

  .btn-write {
    color: #BDBDBD;
    font-family: "나눔손글씨 펜", serif;
    background: url('bg_paper.jpg');
    padding: 10px;
    font-size: 25px;
    width: 398px;
    margin-left: auto;
    box-shadow: 2px 2px 2px 1px #aaa;
  }

}

#new-secret-form {
  height: 300px;
  margin-top: -150px;

  input[type=text], textarea {
    width: 97%;
  }
  textarea {
    height: 4em;
  }
}

@media (max-width: 767px) {
  #new-secret-form {
    margin-top: 0;
  }
}

ul.letter-stream {
  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 2px 2px 1px #ccc;
  li.letter-item {
      border-bottom: dashed 1px #aaa;
      overflow: hidden;
      position: relative;
  }
  li.letter-item:last-child {
      border-bottom: none;
  }

  li.letter-item {
    .main-letter {
      cursor: pointer;
      position: relative;
      div.words {
        margin: 20px 135px 10px 35px;
        font-size: 14px;
        line-height: 23px;
        float: left;
      }
      div.tags {
        color: #999;
        clear: both;
        margin-left: 35px;
        margin-bottom: 18px;
        font-size: 12px;
      }
      div.time {
        color: #999;
        float: right;
        font-size: 12px;
        position: absolute;
        top: 4px;
        right: 13px;
      }
      div.sns {
        position: absolute;
        right: 0;
        bottom: -4px;
        display: none
      }
    }

  }

  li.letter-item div.comments {
    clear: both;
    background-color: #e7efea;
    overflow: hidden;
    text-align: center;
    box-shadow: inset 0 2px 2px #aaa;
    form {
      margin-top: 8px;
    }
  }
  li.letter-item div.comments textarea {
      width: 90%;
      height: 18px;
      line-height: 18px;
      margin: auto;
  }
  li.letter-item div.comments ul {
      margin-top: 8px;
      text-align: left;
  }
  li.letter-item div.comments li {
      padding: 0;
      clear: both;
      overflow: hidden;
      border-top: dashed 1px #aaa;
      position: relative;
  }
  li.letter-item div.comments li .words {
      margin: 10px 84px 10px 4px;
      float: left;
  }
  li.letter-item div.comments li .time {
      position: absolute;
      top: 11px;
      color: #999;
      float: right;
      font-size: 12px;
      right: 13px;
  }

  li.letter-item:hover div.sns {
      display: block;
  }

  li.letter-item div.sns ul {
      overflow: hidden;
  }

  li.letter-item div.sns ul li {
      float: left;
  }

  li.letter-item div.vibe {
      position: absolute;
      right: 5px;
      top: 30px;
  }
}




.letter-show {
  font-size: 1.2em;
  margin-top: 2em;
  .tags {
    color: #999;
  }
  .time {
    color: #999;
    float: right;
    font-size: 0.9em;
  }

  .menu {
    overflow: hidden;
    span.vote, a {
      float:right;
    }
    span.vote {
      margin-right: 10px;
      margin-top: 5px;
      .vote-count {
        margin-left: 5px;
      }
    }
    a {
      @include transition (opacity 0.5s ease-in-out);
    }
  }

}


.letter-stream-tabs {
  overflow: hidden;
  ul {
      float: right;
      font-size: 12px;
      overflow: hidden;
  }
  ul li {
      float: left;
  }
  ul li a {
      padding: 1px;
      color: black;
  }
  ul li.current a {
      background-color: #196435;
      color: white;
  }

}